.card {
    display: inline-flex;
    margin: 30px 10px 0 10px;
    width: auto;
    height: auto;
    background-color:white;
    border-radius: 2px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #177BF6;
} 

.card-content {
    display:inline-block;
    color:black;
}