.header{
    grid-area: hd;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    width: auto;
    color: #263E6F;
    align-items: center;
    height: 52px;
    padding: 0 20px 0 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 900px) {
    .header{
        flex-direction: column;
        height: auto;
        padding-right: 0px;
        padding-left: 0px;
    }
}
