.main-container {
    display:block;
    justify-content: space-around;
    height:auto;
    width: 100%;
    grid-template-columns:850px ;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "hd"
    "sd"
    "main"
    "ft";
}
.header{
    grid-area: hd;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    width: auto;
    color: #263E6F;
    align-items: center;
    height: 52px;
    padding: 0 20px 0 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content{
    grid-area: main;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    display: flex;
    justify-content: center;
}

.sidebar {
    grid-area: sd;
    font-family: Arial, Helvetica, sans-serif;
}

.footer{
    grid-area: ft;
    display: inline-flex;
    border-top: 2px solid lightgray;
    background-color: white;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}

.search{
  border-radius: 5px;
  height: 25px;
  padding: 2px 50px 2px 30px;
  outline: 0;
  background-color: white;
  border: 1px solid grey;
  display: flex;
  margin-left: 10px;
  margin-top: 20px;
  border: none;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-icon {
    position: absolute;
    top: 77px;
    left: 16px;
    width: 14px;
    
}

.blog-card{
    margin: 24px 0 0 15px;
    width: 90%;
    height: auto;
    background-color: #F6F6F6;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #263E6F;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #177BF6;
    
}
.card{
    display: inline-flex;
    margin: 30px 10px 0 10px;
    width: auto;
    height: auto;
    background-color:white;
    border-radius: 2px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #177BF6;
} 

.card-content{
    display:inline-block;
    color:black;
}

.blog-one {
    display: flex;
    width: 100%;
    color: black;
    padding-top:100px;
}

html, body {
  margin: 0;
  padding: 0;
}  
a:link { text-decoration: none; }

.links-header{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: center;
    color: #fff;
    border-bottom: 1.5px solid white;
    border-top: 1.5px solid white;
}

.sidebar-content{
    color: white;
    padding-left: 30px;
    padding-top: 20px;
}

.form{
    padding-top: 5px;
}

.blog-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content{
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: auto;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
@media (min-width: 900px) {
    .main-container{
    display: grid;
    height: auto;
    grid-template-columns: 250px 300px 300px;
    grid-template-rows: 50px 700px 60px;
    grid-template-areas: 
    "hd hd hd hd hd hd"
    "sd main main main main main"
    "ft ft ft ft ft ft";
    background-color: rgba(243,243,243);
    }
}

